<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208503737795-ihjqml7ovj3igk318hbcv6aa60m5sdcv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208503737795-ihjqml7ovj3igk318hbcv6aa60m5sdcv</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ4BdP5k7M9ZdL15dTKDbPoJmUA7QHXGk</string>
	<key>GCM_SENDER_ID</key>
	<string>208503737795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sade.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-5dd5f</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-5dd5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208503737795:ios:7748a7d24c27b0a40e8176</string>
</dict>
</plist>